@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Fjalla One", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Fjalla+One");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat");
}
button, input[type=button], input[type=submit] {
  padding: 5% 10%;
  padding: 2% 5%;
  background-color: #008000;
  color: #111;
  transition: opacity 0.1s ease-in-out;
  font-size: small;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
  opacity: 0.8;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9B2705;
  color: white;
  text-align: center;
  overflow: none;
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer section.footer-left {
  float: left;
  text-align: left;
}
footer section.footer-left div {
  padding: 5px;
}
footer section.footer-right {
  float: right;
  text-align: right;
  margin-right: 25px;
}
footer section.footer-center {
  text-align: center;
}

form {
  display: table;
  margin: auto;
  border: 1px solid gray;
  padding: 5%;
}
form input[type=text], form input[type=password] {
  border: 1p dotted #999;
  border-radius: 0;
  transition: background-color 0.2s ease-in-out;
}
form input[type=text]:hover, form input[type=password]:hover {
  background-color: lightgreen;
}
form input[type=text]:active, form input[type=password]:active {
  border-radius: 0;
}
form input[type=checkbox] {
  clear: both;
}
form button, form input, form select, form textarea {
  font-family: monospace;
  font-size: 100%;
  margin: 10px;
  box-sizing: border-box;
  display: table-cell;
}
form label {
  font-family: "Montserrat";
  display: table-cell;
  text-align: right;
}

header {
  font-family: cursive;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  overflow: auto;
}
header img {
  float: left;
}
header div.login-button {
  display: block;
  float: right;
  width: 120px;
  height: 120px;
  margin-right: 5%;
  padding: 0;
}
header div.login-button a {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../../media/img/descarga.jpg");
}

table {
  margin: auto;
  margin-top: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-family: "Montserrat";
  border-spacing: 0;
  border-collapse: collapse;
}

table tr:hover {
  background-color: gray;
}

table tr td:hover {
  background-color: lightgray;
}

td, th {
  margin: 0;
  padding: 10px 20px;
}

body {
  text-align: center;
  background-color: #79BCDC;
}

img {
  border: 3px double #9B2705;
  border-radius: 20px;
  margin: 5% 10% 1%;
  max-width: 40%;
  min-width: 10%;
}

input[type=text], input[type=password], input[type=submit] {
  font-size: 133%;
  padding: 1%;
  font-family: "Montserrat";
}
input[type=checkbox] {
  transform: scale(1.33);
  padding: 10px;
}

p {
  font-family: "Montserrat";
}

body {
  margin-bottom: 200px;
}

.oculto {
  display: none;
}/*# sourceMappingURL=main.css.map */