/* Variables */

/* Colores */
$color_footer : #9B2705;
$color_header : #9B2705;

$bgcolor : #79BCDC;
$bordercolor: #9B2705;

$color_fondo_boton: green;
$color_letra_boton: orange;

$color_fondo_boton_hover: darkgreen;
$color_letra_boton_hover: darkorange;