/* Variables */

/* Colores */
$color_footer : #94778B;
$color_header : #94778B;

$bgcolor : #F7EDE2;
$bordercolor: #0B2027;

$color_fondo_boton: #0B2027;
$color_letra_boton: #F7EDE2;

$color_fondo_boton_hover: #103446;
$color_letra_boton_hover: #CCF7C1;

$color_tabla_fila: #94778B;
$color_tabla_celda: #CCF7C1;