form {
    display: table;
    margin: auto;
    border: 1px solid $color_fondo_boton;
    padding: 5%;
    min-width: 70%;

    input, select {
        margin-bottom: 10px;
        border: 2px solid $color_fondo_boton;
        border-radius: 0;
        padding: 1%;
        font-family: 'Montserrat';
        transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: lightgreen;
        }
        &:active {
            border-radius: 0;
        }
    }
    
    input[type="checkbox"], input[type="radio"] {
        clear: both;
    }

    textarea {
        font-family: monospace;
        font-size: 100%;
        margin: 10px;
        box-sizing: border-box;
        display: table-cell;
        min-width: 200px;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }

    label {
        font-family: 'Montserrat';
        display: table-cell;
        margin-top: 10px;
    }

}