form {
    display: table;
    margin: auto;
    border: 1px solid $color_fondo_boton;
    padding: 5%;
    min-width: 70%;

    input, select {
        margin-bottom: 10px;
        border: 2px solid $color_fondo_boton;
        border-radius: 0;
        padding: 1%;
        font-family: 'Montserrat';
        transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: lightgreen;
        }
        &:active {
            border-radius: 0;
        }
    }
    
    input[type="checkbox"], input[type="radio"] {
        clear: both;
    }

    textarea {
        font-family: monospace;
        font-size: 100%;
        margin: 10px;
        box-sizing: border-box;
        display: table-cell;
        min-width: 200px;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }

    label {
        font-family: 'Montserrat';
        display: table-cell;
        margin-top: 10px;
    }

    input[type='checkbox'] {
        margin-right: 15px;
    }

    input[type='radio'] {
        margin-right: 15px;
        
        &:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid $color_fondo_boton;
            transition: background-color 0.2s ease-in-out;
        }

        &:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: $color_radio_clic;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid $color_fondo_boton_hover;
        }

        &:hover:after:enabled {
            background-color: $color_radio_hover;
        }
    }
}