header {
    font-family: 'Fjalla One';
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color_header;
    color: white;
    text-align: center;
    display: block;
    overflow: auto;
    img {
        margin: 0;
        padding: 0;
        float: left;
    }
    div {
        top: 50%;
    }
    div.imagen {
        background-image: url("../../media/img/small-logo.jpg"); // Nada señor, esto no funciona
        background-size: 100px;
        min-height: 100px;
        min-width: 100px;
        // Esto tengo que mirarlo a ver. No sé cómo hacerlo medio enjaretao --
    }
    div.izquierdo {
        float: left;
    }

    div.centrado {
        position: absolute;
        left: 33%;
        font-size: 250%;
    }

    div.derecho {
        position: absolute;
        top: 10%;
        right: 1%;
    }
}