header {
    font-family: cursive;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color_header;
    color: white;
    text-align: center;
    display: block;
    overflow: auto;
    img {
        margin: 0;
        padding: 0;
        float: left;
    }
    div {
        float: right;
        background-image: url("../../media/img/big_logo.webp"); // Nada señor, esto no funciona
        height: 100%;
        // Esto tengo que mirarlo a ver. No sé cómo hacerlo medio enjaretao --
    }
}