table {
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid $color_fondo_boton;
    border-bottom: 1px solid $color_fondo_boton;
    font-family: 'Montserrat';
    border-spacing: 0;
    border-collapse: collapse;
    width: 90%;

    tr {
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $color_tabla_fila;
        }
        td {
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: $color_tabla_celda;
            }
        }
        td:hover {
            background-color: $color_tabla_celda;
        }
    }
}

td,th {
    margin: 0;
    padding: 10px 20px;
}

th {
    font-weight: bolder;
}