/* Botones */

button, input[type="button"],input[type="submit"]
{
    font-family: 'Fjalla One';
    padding: 10px;
    background-color: $color_fondo_boton;
    color: $color_letra_boton;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    &:hover {
        background-color: $color_fondo_boton_hover;
        color: $color_letra_boton_hover;
    }
}