body {
    text-align: center;
    background-color: $bgcolor;
}

img {
    @include borde(double);
    margin: 5% 10% 1%;
    max-width: 40%;
    min-width: 10%;
}

input {

    &#form_login_usuario, &#form_login_pass {
        font-size: 133%;
    }

    &[type="checkbox"] {
        -ms-transform: scale(1.33);
        -moz-transform: scale(1.33);
        -webkit-transform: scale(1.33);
        -o-transform: scale(1.33);
        transform: scale(1.33);
        padding: 10px;
    }
}