body {
    text-align: center;
    background-color: $bgcolor;
}

img {
    border: 3px double $bordercolor;
    border-radius: 20px;
    margin: 5% 10% 1%;
    max-width: 40%;
    min-width: 10%;
}

input {
    &[type="text"], &[type="password"], &[type="submit"] {
        font-size: 133%;
        padding: 1%;
        font-family: 'Montserrat';
    }

    &[type="checkbox"] {
        -ms-transform: scale(1.33);
        -moz-transform: scale(1.33);
        -webkit-transform: scale(1.33);
        -o-transform: scale(1.33);
        transform: scale(1.33);
        padding: 10px;
    }
}