/* Tipografías */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&display=swap');

@font-face {
    font-family: 'Fjalla One', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Fjalla+One');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat');
}