.enlace_correcta {
    background-color: green;
}

.enlace_incorrecta {
    background-color: red;
}

.textoCorrecta {
    margin-left: 20px;
    color: green;
    font-size: small;
}

.textoIncorrecta {
    margin-left: 20px;
    color: red;
    font-size: small;
}