.texto_examen {
    left: 50%;
}

.enunciado_pregunta {
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-size: large;
}

#paginacion_preguntas_examen {
    clear: both;
}

.examen_imagen {
    overflow: hidden;
    min-height: 100px;
    margin-top: 35px;
}

.enlace_pregunta {
    clear: both;
    display: inline-block;
    border: 1px solid gray;
    background-color: palegoldenrod;
    padding: 5px 10px;
}

.enlace_correcta {
    background-color: green;
}

.enlace_incorrecta {
    background-color: red;
}

.textoCorrecta {
    float: right;
    margin-left: 20px;
    color: green;
    font-size: small;
}

.textoIncorrecta {
    float: right;
    margin-left: 20px;
    color: red;
    font-size: small;
}

.pregunta_contestada {
    background-color: aquamarine;
}

#temporizador {
    font-size: 300%;
}